{% extends 'base.html' %}

{% load static %}
{% block body %}

<link rel="stylesheet" href="{% static 'style.css' %}">

<div class="blog-card spring-fever">

  <div class="title-content">
    <h3>Welcome,{{name | capfirst}} {{surname | capfirst}}</h3>
    <hr/>
    <div color class="intro">Thanks for joining our form.</div>
    <h1 style="color:rgb(255, 255, 216)">Your overall point is <em>{{overall}}</em></h1>
  </div><!-- /.title-content -->
  <div  class="card-info">
    {% for point in points %}
      <p>Point {{forloop.counter}}: {{point}}</p>
    {% endfor %}
  </div><!-- /.card-info -->
  <div class="utility-info">
    <ul class="utility-list">
      <li class="date">{{time |date:"d/m/y"}}</li>
    </ul>
  </div><!-- /.utility-info -->
  <!-- overlays -->
  <div class="gradient-overlay"></div>
  <div class="color-overlay"></div>
</div><!-- /.blog-card -->
<script src="{% static 'index.js' %}" charset="utf-8"></script>


{% endblock  %}
