{% load static %}
<!doctype html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

  <title>Document</title>
</head>

<body>

  <style>
    label {
      margin: 5px 0px;
    }
  </style>
  {% block body %}

  <link rel="stylesheet" href="{% static 'test.css' %}">
  <!------ Include the above in your HEAD tag ---------->

  <form action="{% url 'get_form' %}" method="POST">
      {% csrf_token %}
  <div class="container contact">
    <div style="margin-bottom: 40px;" class="row">
      <div class="col-md-3">
        <div class="contact-info">
          <i class="fab fa-gofore"></i>
          <h2 style="text-align:center">GeoForm</h2>
          
            <label style="font-weight:bold" for="name">Name</label>
            <input class="form-control" type="text" required name="name" id="name" value=""
              placeholder="Please entery your name">
            <label style="font-weight:bold" for="name">Surname</label>
            <input class="form-control" type="text" required name="surname" id="surname" value=""
              placeholder="Please entery your surname">
            <label style="font-weight:bold" for="title">Title</label>
            <input class="form-control" type="text" required name="title" id="title" value=""
              placeholder="Please entery form title">
        </div>
      </div>
      <div class="col-md-8">
          <div class="contact-form">

            <div class="col-md-10">


              <div class="form-group clone_me">
                <label for="label">Label #1</label>
                <input type="text" class="form-control" id="label" aria-describedby="emailHelp" required name="label"
                  placeholder="{{placeholder1}}">
                <label for="placeholder">Placeholder #1</label>
                <input type="text" class="form-control" id="placeholder" aria-describedby="emailHelp"
                  name="placeholder">

              </div>

              <div class="form-group">
                <label for="width">Width</label>
                <select required name="width" id="width">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option selected value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                </select><br>
                <small><em>*1 column is 60 pixel</em></small>

              </div>
              <button type="button" id="clone" class="btn btn-success">ADD</button>
              <button type="submit" class="btn btn-primary" name="button">Send</button>

            </div>

          </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</form>


  <script src="{% static 'test.js' %}" charset="utf-8"></script>
  {% endblock %}


  </div>

  </div>
  </div>

</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $('#clone').on('click', function(){
      let c = $('.clone_me:eq(0)').clone();
      c.find('input').val('');
      c.find('label:eq(0)').text('Label #' + ($('.clone_me').length + 1))
      c.find('label:eq(1)').text('Placeholder #' + ($('.clone_me').length + 1))
      $('.clone_me:last').after(c);
    })
  })
</script>

</html>